# tex specific
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.toc
._wordcount_selection.tex

# package specific
*.pdf

# dev specific
*.ai
.DS_Store
Pipfile